<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
  <div class="side-nav-button p-2 me-3 text-light">
    <i class="fa-solid fa-bars"></i>
  </div>

<!--  app name-->
  <a class="navbar-brand px-4" href="#">Bank Statement Analyzer</a>

<!--  menu item dropdown-->
  <div class="navbar-collapse">
    <ul class="navbar-nav me-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Sample Drowdown</a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="#">dropdown-item-1</a></li>
          <li><a class="dropdown-item" href="#">dropdown-item-2</a></li>
          <li><a class="dropdown-item" href="#">dropdown-item-3</a></li>
        </ul>
      </li>
    </ul>
  </div>

<!--  search bar and button-->
<!--<form class="d-flex-me-5">-->
<!--  <input class="form-control me-2" type="search" placeholder="Search">-->
<!--  <button class="btn btn-outline-light" type="submit">Search</button>-->
<!--</form>-->

<!--  <div class="profile-logo dropstart">-->
<!--    <button class="btn btn-outline-light dropdown toggle" data-bs-toggle="dropdown">Amrit</button>-->
<!--  </div>-->

</nav>
