<div class="overlay" *ngIf="isOpen">
    <div class="dialog">
      <h3>Upload New Statement</h3>
      
        <!-- File Upload Input -->
        <div class="file-upload">
          <input type="file" id="fileInput" (change)="onFileChange($event)" accept=".txt" class="file-input" />
        </div>
      
      <div class="action-buttons">
        <button (click)="uploadStatementFile()" 
        [disabled] = "inputFile === undefined" 
        [style]="inputFile === undefined ? { 'cursor': 'none', 'opacity': '0.25' } : {}" >Upload</button>
        <button (click)="closeDialog()">Close</button>
      </div>
      
    </div>
  </div>
  
