<div class="overlay" *ngIf="isOpen">
    <div class="dialog">
      <h3>Upload New Statement</h3>
      
      <label for="filterBank" style="font-size: medium;" class="form-label">Select Bank :</label>
      <select id="selectBankDropdown" class="form-select mb-2" [(ngModel)]="selectedBankId" (change)="selectBankName()">
        <option [ngValue]="null" disabled>Select Bank</option>
        <option *ngFor="let bank of banks" [ngValue]="bank.id">
          {{bank.name}}
        </option>
      </select>

        <div class="file-upload">
          <input type="file" id="fileInput" (change)="onFileChange($event)" accept=".txt,.pdf" class="file-input" />
        </div>

        <mat-slide-toggle [(ngModel)]="saveStatementToDb"
        (change)="onFileSaveToggle()"> Save Statement to Db ?</mat-slide-toggle>
      
      <div class="action-buttons">
        <button (click)="uploadStatementFile()" 
        [disabled]="!inputFile || selectedBankId == null" 
        [ngStyle]="(!inputFile || selectedBankId == null) ? { 'cursor': 'not-allowed', 'opacity': '0.25' } : {}">Upload</button>
        <button (click)="closeDialog()">Close</button>
      </div>
      
    </div>
  </div>
  
