<div class="container-fluid g-0">
  <app-header (sideNavToggled)="sideNavStatus = $event;"></app-header>
  <main>
    <app-side-nav class="black-border" [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open': sideNavStatus}"></app-side-nav>

    <div class="display-area" [ngClass]="{'display-area-open': sideNavStatus}">
      

      <div class="transactions-header-container">
        <p>Transactions</p>
        <button class="uploadButton" type="submit" (click)="openDialog()">Upload Statement</button>
      </div>

      <hr>
      <!-- Custom Dialog Component -->
       <app-statement-upload-dialog [isOpen]="isDialogOpen" (close)="closeDialog()"
       (statementFileUploadEvent)= "handleFileUpload($event)"></app-statement-upload-dialog>
       <app-home></app-home>

       <!-- Table Container -->
       <div class="table-div-container">

        <app-table-view [tableData]="allTransactions"></app-table-view>

       </div>
       <!-- Table Container End -->

    </div>

  </main>
</div>
