body {
  font-family: 'Poppins', sans-serif
}

app-header{
  position: fixed;
  width: 100%;
  top: 0px;
  height: 4rem;
  z-index: 2;
}

main{
  position: absolute;
  width: 100%;
  top: 4rem;
  z-index: 1;
}

app-side-nav{
  position: absolute;
  left: 0rem;
  width: 80.5px;
  height: calc(100vh - 4rem);
  border: 2px;
  background: black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  border-top: 1px solid white;
  overflow-x: hidden;
  white-space: nowrap;
}

.app-side-nav-open {
  width: 250px;
}


.display-area{
    left: calc(260px - 160px);
    position: absolute;
    padding: 1%;
    font-family: poppins;
    font-size: 25px;
    // width: calc(100% - 60px);
}

.display-area-open{
    left: 260px;
    position: absolute;
    padding: 1%;
    font-family: poppins;
    font-size: 25px;
    // width: calc(100% - 260px);
}
